################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FinalProject/FinalProject/App_Data/FinalProjectDB.mdf
*.ldf
