################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FinalProject/FinalProject/App_Data/FinalProjectDB.mdf
*.ldf
FinalProject/FinalProject/.vs/FinalProject/v15/Server/sqlite3/