.guestScreenWrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.siteHeader{
    color: white; 
}

.explanation {
    display: flex;
    flex-direction: row;
    justify-content: space-between center;
    flex-wrap: wrap;
}
