.offerWrapper{
    height: 100%;
    width: 100%;
    padding: 30px 0;
    display: flex;
    overflow-x: hidden;
    max-width: 80vw;
    margin: 0 auto;
}

.firstLineWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.separatorLine{
    padding-top: 40px;
    border-bottom: 1px solid white;
}

.accessoriesContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 20px;
}

.accessoriestWrapper{
    display: flex;
    flex-direction: row;
    margin-right: 8%;
    align-items: center;
}

.accessoriestWrapper .descTitle{
    margin-left: 24%;
}

.dueDate{
    display: flex;
    flex-direction: row;
    margin: 2% 0;
}

.btnContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
}
.disableElement{
    pointer-events: none;
}

@media only screen and (min-width: 1220px){
    .productImgContainer{
        align-items: center;
    }
}