.auctionWrapper{
    height: 100%;
    max-width: 80vw;
    margin: 0 auto;
    width: 100%;
    padding: 30px 0;
    display: flex;
    overflow-x: hidden;
}

.firstLineWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.designBtn{
    display: inline-block;
    padding:0.5em 1em;
    border:0.1em solid #FFFFFF;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
}

.designBtn:hover{
    color:#DDDDDD;
    border-color:#DDDDDD;
}

.designBtn:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
}

.productWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dueDate{
    display: flex;
    flex-direction: row;
    margin: 2% 0;
}

.submitContainer, .businessNameContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.submitAuctionBtn{
    width: 50%;
}

.businessWrapper{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bolder;
}

@media only screen and (min-width: 1220px){
    .productImgContainer{
        align-items: center;
    }
}