.auctionWrapper{
    height: 100%;
    width: 100%;
    padding: 30px 0;
    display: flex;
    overflow-x: hidden;
}

.firstLineWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.designBtn{
    display: inline-block;
    padding:0.5em 1em;
    border:0.1em solid #FFFFFF;
    /*margin:0 0.3em 0.3em 0;*/
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
}

.designBtn:hover{
    color:#DDDDDD;
    border-color:#DDDDDD;
}

.designBtn:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
}

.productWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.interestsContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 7px;
}

.interestsContainer > div:nth-child(1){
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.partOfInterests{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.interestWrapper{
    display: flex;
    flex-direction: row;
    margin-right: 8%;
    align-items: center;
}

.otherInput{
    background: transparent;
    border: transparent;
    outline: none;
    border-bottom: 1px solid black;
}

.descTitle{
    margin-left: 20%;
}

.descOfInterest{
    margin-right: 10%;
}


.checkboxforInterest {
    position: relative;
}

.checkboxforInterest label {
    cursor: pointer;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    background: #eee;
    border-radius: 5px;
}

.checkboxforInterest label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 10px;
    height: 6px;
    background: transparent;
    top: 6px;
    left: 5px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;

    transform: rotate(-45deg);
}

.checkboxforInterest label:hover::after {
    opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.checkboxforInterest input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.dueDate{
    display: flex;
    flex-direction: row;
    margin: 2% 0;
}

.submitContainer, .businessNameContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.submitAuctionBtn{
    width: 50%;
}

.businessWrapper{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bolder;
}

@media only screen and (min-width: 1220px){
    .productImgContainer{
        align-items: center;
    }
}