.businessProfileImgWrapper{
    display: flex;
    height: 25vh;
    justify-content: center;
}

.profliePic{
    width: 200px;
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;
}

.helloAndLink{
    text-align: center;
}