.navMenu {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 5rem;
  flex: 1;
}

.typeMenu{
  display: flex;
  flex-direction: column;
}

.linksWrapper{
    display: flex;
    flex-direction: column;
}
